<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Do it !</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
<body>

<div class="sidebar" id="sidebar">
    <a href="/home">Home</a>
    <a href="/uncomptasks">Uncompleted tasks</a>
    <a href="/comptasks">Completed tasks</a>
    <a href="/afterdeadline">After deadline tasks</a>
    <a href="/logout">Log out</a>
</div>

<h1>To be added in some point in future</h1>
<h2>To add:</h2>
<ul>
    <li>Make some info about how many task are completed/uncompleted/after deadline</li>
    <li>Make some graphs ?</li>
    <li>Group tasks based on Months/Days/Years</li>
    <li></li>
</ul>

</body>
</html>