<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cevalp's To-Do</title>

    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>

<!-- Add Task Button -->
<button class="add-task-btn" onclick="showAddDialog()">Add New Task</button>

<!-- Task List -->
<div th:each="task: ${tasks}">
    <div class="task-container" th:id="${task.taskId}">
        <h2><span th:text="${task.title}"></span></h2>

        <div class="task-dates">
            <p id="deadlineId"><strong>Deadline: </strong><span th:text="${task.deadline}"></span></p>
        </div>

        <p id="descriptionId"><span th:text="${task.description}"></span></p>

        <div class="task-buttons">
            <button class="edit-btn" th:data-id="${task.taskId}" onclick="showEditDialog(this)">Edit Task</button>
            <button id="btn" class="complete-btn" th:data-id="${task.taskId}" onclick="completeTask(this)">Completed</button>
        </div>
    </div>
</div>

<!-- Task Dialog -->
<div id="addTaskDialog" class="addDialog" data-id="-1">
    <form id="addTaskForm" class="addDialog-content">
        <h2>Add new task</h2>

        <!-- Title -->
        <label>Title</label>
        <input name="title" type="text">
        <p id="titleError" class="error-message">Title is required!</p>

        <!-- Description -->
        <label>Description</label>
        <textarea name="description" class="fixed-textarea"></textarea>

        <!-- Deadline -->
        <label>Deadline Date</label>
        <input name="deadlineDate" id="deadlineInput" type="date">
        <p id="deadlineError" class="error-message">Deadline date is required!</p>

        <!-- Form Buttons -->
        <div id="dialog-btns">
            <button type="button" onclick="closeAddDialog()">Close</button>
            <button id="dialogSubmitBtn" type="button" onclick="submitForm()">Create</button>
            <button id="dialogEditBtn"  type="button" onclick="editTask()">Edit</button>
        </div>
    </form>
</div>


<script th:src="@{/jsp/index.js}"></script>
</body>

</html>